@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #191414; /* Cambié el color de fondo a negro */
}

.header {
    background-color: #1DB954;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header h1 {
    color: #FFFFFF; /* Texto blanco */
    margin-left: 10px; /* Ajuste de margen para separar el texto del logo */
    font-size: 30px; /* Tamaño de fuente predeterminado */
    font-weight: bold; /* Negrita */
    margin-right: auto;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 10px; /* Reducir el tamaño del texto para dispositivos móviles */
    }
}

.header .logo{
    cursor: pointer; /*apariencia cuando este encima */
    margin-right: auto;
}
.header .logo img {
    height: 200px; /* Aumenté el tamaño de la imagen */
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2); /*incrementa el tamaño 1.2  veces su tamaño*/
}
.header .nav-links {
    list-style: none;
    margin-left: auto; /* Mueve los enlaces de navegación a la derecha */
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a {
    font-size: 700;
    color: #FFFFFF; /* Cambié el color de la fuente a blanco */
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
    background-color: #000000;
    transform: scale(1);
    margin-bottom: 100px; /* Agregué un margen inferior */
}

.card h2 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px; /* Agregué un margen superior al título */
}

.card img {
    width: 100%;
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.card p {
    color: #FFFFFF; /* Texto blanco */
    text-align: justify; /* Justifica el texto */
    margin-top: 10px; /* Margen superior */
}

/* Footer */
footer {
    background-color: #1DB954; /* Cambié el color de fondo del footer a verde */
    color: white;
    text-align: center;
    position: fixed; /* Cambié la posición a fija */
    width: 100%;
    bottom: 0; /* Lo fijo en la parte inferior */
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 15px; /* Añadí un poco de espacio alrededor del contenido */
}

.social-links {
    margin-top: 5px; /* Añadí un margen superior para los iconos */
    display: flex;
    justify-content: center; /* Centra los iconos */
}

.social-links a {
    margin: 0 10px; /* Espacio entre los iconos */
}

.social-links img {
    width: 40px; /* Tamaño uniforme para los iconos */
}